.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  background-color: rgb(184, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 40px;
  
}

.Name{
  height: 20px;
}

.News{
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.Log{
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  color: white;
  position: relative;
}

.Log:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: white;
	content: "";
	transition: width 0.3s ease-out;
}

.Log:hover:after,
.Log:focus:after {
	width: 100%;
}

.Footer{
  background-color: rgb(184, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 40px;
  color: white;
}

@media (max-height: 900px){
  .Header{
      max-width: 100%;
  }
  .Main-info{
    display: flex;
    flex-direction: column;
  }
  .img{
    max-width: 330px;
  }
  .control{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .button-edit{
    margin-top: 50px;
  }
  .edit-form{
    max-width: 100%;
    margin-top: -53px;
    max-height: 100%;
    margin-left: -17%;
  }
  .edit-form-back{
    position: absolute;
    background-color: black;
    top: 120px;
    left: 0;
  }
  .container-admin{
    display: flex;
    flex-direction: column;
  }
  .LoginForm{
    margin-left: -39px;
    max-width: 100%;
    margin-top: -50px;
    text-align: center;
  }
}
