.search-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-self: stretch;
    align-items: center;
}

.button-search{
    width: 50px;
    height: 30px;
    border:none;
    background-color: white;
  }
  
  .button-search:hover{
    cursor: pointer;
    border-bottom: 1px solid;
   
  }
  .button-search:hover:after,
  .button-search:focus:after {
      width: 100%;
  }

  input{
      border: none;
      border-bottom: 1px solid;
      height: 26px;

  }

@media (max-width: 900px){
    .search-container{
        margin-top: 100px;
    }
}